/*=============================================
=            General Styling           =
=============================================*/

:root {
	--bkgnd-color: #313131;
	--btn-color: #ca3e47;
	--box-color: #414141;
	--dflt--color: #525252;
	--font-color: #fafafa;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 100%;
}

body {
	/* Add fonts */
	font-family: "Montserrat", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	line-height: 1.15;
	/* font-size: 16px; */
	color: var(--font-color);
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	min-height: 100%;
}

h1 {
	font-size: clamp(1.913rem, calc(12px + 2.475vw), 2.587rem);
	font-weight: 900;
	letter-spacing: 0.04em;
	/* line-height: 1.1; */
}

h2 {
	font-size: clamp(1.575rem, calc(12px + 1.8vw), 2.025rem);
	/* line-height: 1.1; */
}

h3 {
	font-size: clamp(1.282rem, calc(12px + 1.35vw), 1.688rem);
	/* line-height: 1.1; */
}

h4 {
	font-size: clamp(1.125rem, calc(12px + 0.9vw), 1.35rem);
	/* line-height: 1.1; */
}

p {
	font-size: clamp(1.035rem, calc(12px + 0.54vw), 1.125rem);
	font-weight: 600;
	/* line-height: 1.1; */
}

span {
	font-size: clamp(0.9rem, calc(12px + 0.36vw), 1.012rem);
	/* line-height: 1.1; */
}

.hero {
	min-height: 100vh;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=           Header            =
=============================================*/

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 1.2em; */
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.3s;
	background-color: var(--font-color);
}

/* Navgation style */
nav {
	display: flex;
	align-items: center;
	min-width: 40%;
	justify-content: space-around;
	/* min-height: 30%; */

	padding-left: 18px;
}

nav a {
	text-decoration: none;
	display: block;
	/* margin-left: 1.5em; */
	color: var(--bkgnd-color);
	/* background-color: var(--dflt--color); */
	padding: 0.5rem;
	border-radius: 50px;
	margin: 0.5rem 0 0.5rem 0;
	font-size: 0.8em;
	font-weight: 600;
}

nav a:hover {
	color: #ca3e47;
	/* background: var(--box-color); */
}

/* Icons style */
.icons {
	margin-right: 3em;
}

.fa {
	padding: 0.5rem;
	font-size: 1.3em;
	/* width: 30px; */
	text-align: center;
	text-decoration: none;
	margin: 0.5rem auto 0.5rem;
	border-radius: 20%;
	background: var(--bkgnd-color);
	color: white;
}

.fa:hover {
	opacity: 0.7;
}

/*=====  End of Section   ======*/

/*=============================================
=           Main            =
=============================================*/

main {
	margin-top: 1em;
}

/*=============================================
=           Hero Section          =
=============================================*/
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar {
	width: 18em;
}

.avatar img {
	max-width: 100%;
	border-radius: 50%;
}

.middle-line {
	height: 18em;
	width: 2px;
	background-color: var(--font-color);
	margin: 0 2em 0 2em;
}

.slogan {
	max-width: 35%;
}
/*=====  End of Section   ======*/
